

.collapse-container {
    position: relative;
    left: 11%;
    
    
    .button-collapse {
        display: flex;
        align-items: center;
        width: 80%;
        height: 52px;
        background-color: rgba(255, 96, 96, 1);
        border-radius: 10px;
        margin-bottom: 15px;
        border: 0px;
    }
    .arrow {
        margin-left: auto;
    }
    .title-collapse{
        color: white;
        font-family: Montserrat, sans-serif;
        font-size: 18px;
        font-weight: 700;
    }
    .content-collapse {
        font-family: Montserrat, sans-serif;
        width: 80%;
        background-color: rgba(245, 245, 245, 0.5);
        padding: 0%;
    }

    // @keyframes .content-collapse {
        
    
     
    // }
}