.carousel {
    display: flex;
    align-items: center;
    position: relative;
    left: 15%;
    width: 1240px;
    height: 415px;
    margin: 0px 30px 0px 30px;
   
    .image-carousel {
        width: 100%;
        height: 400px;
        border-radius: 25px;
    }
    .carousel-counter {
        position: absolute;
        bottom: 25px;
        left: 50%;
        color: white;
    }

    .button-arrow {
        position: absolute;
        padding: 0;
        border: none;
        width: 60px;
        height: 80px;
        background: none;

        &.next {
            right: 0;
        }

        &.prev {
            left: 0;
        }

        .image-arrow {
            width: 100%;
            height: 100%;

        }

    }

} 